.productList {
    max-width: 850px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 50px;
    justify-items: center;
}

@media screen and (max-width: 800px) {

    .productList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    }
}


